streamlit==1.58.0 # Database

# Utilities
numpy
pandas

# Face Recognition
scikit-learn
dlib-bin
git+https://github.com/ageitgey/face_recognition_models.git
setuptools<70.0.0


bcrypt # Hashing

segno # QR Code
pillow # Image Preprocessing

streamlit

# Voice
librosa
resemblyzer